@font-face {
    font-family: 'Dengb';
    src: url('/public/fonts/dengxian-cdnfonts/Deng.otf')
}


.contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Dengb'
}

.footnote {
    text-decoration: none;
}
