@font-face {
    font-family: 'Garamond';
    src: url('/public/fonts/garamond/GaramondRegular.ttf')
}

body {
    font-family: 'Garamond';
    margin: 0;
    padding: 0;
    background-color: #e8e8e8;
}

.header {
    text-align: center;
    margin-top: 75px;
    margin-bottom: 40px;
}

.link-button {
    background: none;
    border: none;
    text-decoration: underline;
    font-family: 'Garamond';
    cursor: pointer;
    padding: 0;
    font-size: 18px;
    margin-bottom: 15px;
}

.incomplete-button {
    background: none;
    border: none;
    text-decoration: line-through;
    font-family: 'Garamond';
    cursor: pointer;
    padding: 0;
    font-size: 18px;
    margin-bottom: 15px;
}

.contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.sub-header {
    text-decoration: underline;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 15px;
}

.page-bottom {
    margin-bottom: 30px;
}
